@import '~static/constants';

:global(*) {
    -webkit-touch-callout: auto !important;
    -webkit-user-select: auto !important;
    -khtml-user-select: auto !important;
    /* 早期浏览器 */
    -moz-user-select: auto !important;
    /* 火狐 */
    -ms-user-select: auto !important;
    /* IE10 */
    user-select: auto !important;
}

body {
    overflow: auto !important;
    font-family: 'Quicksand', arial, sans-serif !important;
    background: #f6f9fa;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
}

.main {
    position: relative;
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 22%;
}
