.container {
    position: relative;
    width: 100%;
    border-radius: .05rem;
    margin-bottom: .1rem;
    padding-left: .35rem;
}

.avatar {
    position: absolute;
    left: 0;
}

.actLine {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: .09rem;
    padding: .05rem 0;
}

.subjetLine {
    font-weight: 600;
    span {
        padding-right: .05rem;
    }
}

.act {
    color: #666;
}
