@import '~static/constants';
$fontFamily: 'Spectral',
serif !important;

:global(*) {
    font-family: $fontFamily;
}

:global(.tox-notifications-container) {
    display: none;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: $NAV_HEIGHT_MAIN;
    display: flex;
}
