@import '~static/constants';
$fontFamily: 'Spectral',
serif !important;

:global(*) {
    font-family: $fontFamily;
}

:global(.tox-notifications-container) {
    display: none !important;
}

:global(.tox-pop--left) {
    transform: translateX(-210%);

    &:before,
    &::after {
        display: none !important;
    }
}


.container {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    padding-top: $NAV_HEIGHT_MAIN;
    display: flex;
    overflow: hidden;
}

.authModal {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 10;
}
