@import '~static/color';
@import '~static/constants';
@import '~static/ani';

.container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: .1rem;
    border-radius: .05rem;
    background: #fff;
    border: 2px solid #eee;

    &:hover {
        box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
    }
}

.title {
    padding-bottom: .1rem;
    font-weight: bold;
    font-size: .12rem;
}

.body {
    position: relative;
    width: 100%;
    display: flex;
}

.block {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: .09rem;
}
