.container {
    position: relative;
    width: 100%;
    margin: auto;
    padding-bottom: .1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .05rem .05rem 0 0;
    overflow: hidden;
}


.top {
    position: relative;
}

.cover {
    width: 100%;
    height: 2rem;
}

.avatar {
    position: absolute;
    bottom: 0;
    width: .7rem;
    height: .7rem;
    left: .1rem;
    transform: translateY(50%);
    border: 3px solid #eee;
    z-index: 1;
}

.btn {
    position: absolute;
    right: .1rem;
}

.profile {
    position: relative;
    width: 100%;
    padding-top: .4rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: .1rem;
    padding-bottom: .1rem;
    border: 2px solid #eee;
    font-size: .1rem;
}

.nickname {
    font-size: .11rem;
    font-weight: bold;
}

.bio {
    margin-top: .1rem;
    color: #666;
}

.dialog {
    position: relative;
    width: 3.5rem;
    padding: .1rem;
    background: #fff;
    border-radius: .05rem;
    overflow: hidden;
    z-index: 2;
}

.submitting {
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: rgba(255, 255, 255, 0.3);
    }
}

.title {
    width: 100%;
    text-align: center;
    font-size: .12rem;
    padding-bottom: .1rem;
}

.pv {
    position: relative;
    width: 100%;
    margin-bottom: .3rem;
}

.pvCover {
    position: relative;
    width: 100%;
    height: 1.2rem;

    img {
        height: 100%;
        width: 100%;
    }

    font-size: .2rem;
}

.pvAvatar,
.pvCover {
    display: flex;
    justify-content: center;
    align-items: center;

    input {
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 3;
        cursor: pointer;
    }

    &:before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.4);
        z-index: 1;
    }
}

.pvAvatar {
    position: absolute;
    left: .1rem;
    bottom: 0;
    width: .45rem;
    height: .45rem;
    padding: .02rem;
    background: #FFF;
    transform: translateY(50%);
    border-radius: 100%;
    overflow: hidden;
    z-index: 1;
    font-size: .16rem;
}

.icon {
    position: absolute;
    color: #fff;
    z-index: 2;
    font-weight: bold;
    font-size: inherit;
}
