@import '~static/color';
@import '~static/constants';

$coverHeight: 45vh;

.container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: .08rem;
}

.cover {
    height: $coverHeight;
    width: 100%;
    display: flex;
    // justify-content: center;
    flex-wrap: wrap;
}

.img {
    position: relative;
    width: 100%;
    flex: 1 0 auto;
    height: $coverHeight !important;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.avatar {
    position: absolute !important;
    margin: 0 !important;
    transform: translateY(-50%);

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 104%;
        height: 104%;
        background: #fff;
        border-radius: 50%;
        top: -2%;
        left: -2%;
        z-index: -1;
    }
}

.headLine {
    display: flex;
    width: 7rem;
}

.info {
    margin-left: 1rem;
    padding-top: .1rem;
    line-height: 1.5;

    h1 {
        font-size: .13rem;
        line-height: 1;
        margin: 0;
    }
}

.subTitle {
    margin-top: .1rem;
    font-weight: bold;
    color: #333;
}

.funcs {
    position: relative;
    right: 0;
    padding-top: .2rem;
    margin-left: auto;
    display: flex;
    font-weight: bold;
    font-size: .1rem;
}

.star,
.support {
    height: .25rem;
    cursor: pointer;
    line-height: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
}

.support {
    width: .8rem;
    text-align: center;
    background: var(--theme-primary);
    color: #fff;
}

.star {
    width: .4rem;
    margin-left: .1rem;
    color: var(--theme-primary);
    border: 2px solid var(--theme-primary);
}
