@import '~static/ani';

.container {
    // position: relative;
    width: 3.5rem;
    // height: 2.5rem;
    border-radius: .1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee;
    font-size: .12rem;
    font-family: lemon;
}

.goTop {
    .logo {
        position: fixed;
        left: .2rem;
        top: .2rem;
        height: auto;
        line-height: 1;
        transform: unset;
        color: #fff;

        h1 {
            margin: 0;
            background: linear-gradient(135deg, #833ab4, #3274D5 60%, #833ab4);
            -webkit-background-clip: text;
            color: transparent;

            &:hover {
                animation: colorfulFont 2s infinite ease;
                -webkit-animation: colorfulFont 2s infinite ease;
            }
        }
    }
}

.logo {
    position: absolute;
    top: 1rem;
    width: 1rem;
    height: 1rem;
    transform: translateY(-50%);
    text-align: center;
    border-radius: 100%;
    font-size: .18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: lemon;
    transition: all .5s ease;
    cursor: pointer;
}

.main {
    position: relative;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: .2rem;
    font-size: .14rem;
}

.btn {
    width: 1.5rem;
    height: .3rem;
    background: #4b6dc9;
    text-align: center;
    color: #fff;
    border-radius: .02rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .1rem auto 0 auto;
    transition: all .2s ease-in;
    cursor: pointer;
    position: relative;
    overflow: hidden;

    .loading {
        opacity: .9;
        color: transparent;
        cursor: not-allowed;
        pointer-events: auto;
    }

    .disabled {
        background: #868686;
        color: #3f3f3f;
        cursor: not-allowed;
        pointer-events: auto;
    }
}

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .8;
    background: #000;
    z-index: 0;
}

.login {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: 0;
    right: 0;
    width: 3.5rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn .2s ease-in-out;
    border-radius: .05rem;
    font-size: .1rem;
    z-index: 1;

    input {
        border-radius: .02rem;
    }
}

.register {
    position: relative;
    top: .2rem;
    width: 3.5rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background: rgba(0, 0, 0, .7);
    animation: fadeIn 1s;
    -webkit-animation: fadeIn .2s ease-in-out;
    border-radius: .05rem;
    z-index: 1;
    font-size: .1rem;

    input:last-of-type {
        border: none;
    }
}

.info {
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: .1rem;
    transition: all .5s ease-in;
    font-size: .12rem;
    font-weight: bold;
}

.inputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    height: .3rem;
    width: 1.5rem;
    background: #181a1b;
    outline-style: none;
    color: #fff;
    padding: .1rem;
    font-family: auto;
}

.infoInput {
    text-align: center;
    background: rgba(0, 0, 0, .5);
    border-bottom: 0;
    margin-bottom: .1rem;
    border-radius: .1rem;
}

.infoInput::-webkit-input-placeholder {
    color: #fff;
}

.infoInput:-moz-placeholder {
    color: #fff;
}

.infoInput:-ms-input-placeholder {
    color: #fff;
}

.passwdInput {
    animation: slideIn .2s;
    -webkit-animation: slideIn .2s;
}

.noBackground {
    background: transparent;
}

.oauth {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 1.5rem;
    padding-top: .1rem;
}

.iconBtnWrapper {
    width: .2rem;
    height: .2rem;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background: rgba(255, 255, 255, .5);
    }
}

.iconBtn {
    width: 90%;
    height: 90%;
}

@mixin iconWrapper {
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: .2rem;
    height: .2rem;
    opacity: .6;
    margin-top: 0rem;

    &:hover {
        opacity: 1;
    }
}

.choosed {
    opacity: 1 !important;
    background: #fff !important;
}

.iconGoogle {
    background: url('http://solo-app.test.upcdn.net/google.png') no-repeat;
    background-size: cover;
}

.iconGithub {
    background: url('http://solo-app.test.upcdn.net/GitHub.png') no-repeat;
    background-size: cover;
}

.iconFacebook {
    background: url('http://solo-app.test.upcdn.net/icon_facebook.png') no-repeat;
    background-size: cover;
}

.iconPhone {
    @include iconWrapper();

    &:after {
        content: '';
        width: .15rem;
        height: .15rem;
        position: absolute;
        background: url('http://solo-app.test.upcdn.net/phone.png') no-repeat;
        background-size: cover;
    }
}

.iconEmail {
    @include iconWrapper();

    &:after {
        content: '';
        width: .13rem;
        height: .13rem;
        position: absolute;
        background: url('http://solo-app.test.upcdn.net/email.png') no-repeat;
        background-size: cover;
    }
}

.preAuthBtn {
    padding-top: .1rem;
}

.errorInput {
    outline: 0.03rem solid red;
    outline-style: auto;
    outline-offset: 0;
    border-bottom: 0;
    z-index: 1;
}

.errorMsg {
    height: .25rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .1rem;
    border-radius: .1rem;
    background: rgba(0, 0, 0, .6);
    animation: fadeIn 1s;
    -webkit-animation: fadeIn .2s ease-in-out;
}


.exploreBtn {
    position: relative;
    top: .1rem;
    font-size: .09rem;
    color: #fff;
    cursor: pointer;

    &:hover {
        animation: colorfulFont 2s infinite ease;
        -webkit-animation: colorfulFont 2s infinite ease;
    }
}

/* START TOOLTIP STYLES */
[tooltip] {
    position: relative;
    /* opinion 1 */
}

/* Applies to all tooltips */
[tooltip]::before,
[tooltip]::after {
    text-transform: none;
    /* opinion 2 */
    font-size: .9em;
    /* opinion 3 */
    line-height: 1;
    user-select: none;
    pointer-events: none;
    position: absolute;
    display: none;
    opacity: 0;
}

[tooltip]::before {
    content: '';
    border: 5px solid transparent;
    /* opinion 4 */
    z-index: 1001;
    /* absurdity 1 */
}

[tooltip]::after {
    content: attr(tooltip);
    /* magic! */

    /* most of the rest of this is opinion */
    font-family: Helvetica, sans-serif;
    text-align: center;

    /*
      Let the content set the size of the tooltips
      but this will also keep them from being obnoxious
      */
    min-width: 3em;
    max-width: 21em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 1ch 1.5ch;
    border-radius: .3ch;
    box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
    background: #333;
    color: #fff;
    z-index: 1000;
    /* absurdity 2 */
}

/* Make the tooltips respond to hover */
[tooltip]:hover::before,
[tooltip]:hover::after {
    display: block;
}

/* don't show empty tooltips */
[tooltip='']::before,
[tooltip='']::after {
    display: none !important;
}

/* FLOW: UP */
[tooltip]:not([flow])::before,
[tooltip][flow^="up"]::before {
    bottom: 100%;
    border-bottom-width: 0;
    border-top-color: #333;
}

[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::after {
    bottom: calc(100% + 5px);
}

[tooltip]:not([flow])::before,
[tooltip]:not([flow])::after,
[tooltip][flow^="up"]::before,
[tooltip][flow^="up"]::after {
    left: 50%;
    transform: translate(-50%, -.5em);
}

/* FLOW: DOWN */
[tooltip][flow^="down"]::before {
    top: 100%;
    border-top-width: 0;
    border-bottom-color: #333;
}

[tooltip][flow^="down"]::after {
    top: calc(100% + 5px);
}

[tooltip][flow^="down"]::before,
[tooltip][flow^="down"]::after {
    left: 50%;
    transform: translate(-50%, .5em);
}

/* FLOW: LEFT */
[tooltip][flow^="left"]::before {
    top: 50%;
    border-right-width: 0;
    border-left-color: #333;
    left: calc(0em - 5px);
    transform: translate(-.5em, -50%);
}

[tooltip][flow^="left"]::after {
    top: 50%;
    right: calc(100% + 5px);
    transform: translate(-.5em, -50%);
}

/* FLOW: RIGHT */
[tooltip][flow^="right"]::before {
    top: 50%;
    border-left-width: 0;
    border-right-color: #333;
    right: calc(0em - 5px);
    transform: translate(.5em, -50%);
}

[tooltip][flow^="right"]::after {
    top: 50%;
    left: calc(100% + 5px);
    transform: translate(.5em, -50%);
}

/* KEYFRAMES */
@keyframes tooltips-vert {
    to {
        opacity: .9;
        transform: translate(-50%, 0);
    }
}

@keyframes tooltips-horz {
    to {
        opacity: .9;
        transform: translate(0, -50%);
    }
}

/* FX All The Things */
[tooltip]:not([flow]):hover::before,
[tooltip]:not([flow]):hover::after,
[tooltip][flow^="up"]:hover::before,
[tooltip][flow^="up"]:hover::after,
[tooltip][flow^="down"]:hover::before,
[tooltip][flow^="down"]:hover::after {
    animation: tooltips-vert 300ms ease-out forwards;
}

[tooltip][flow^="left"]:hover::before,
[tooltip][flow^="left"]:hover::after,
[tooltip][flow^="right"]:hover::before,
[tooltip][flow^="right"]:hover::after {
    animation: tooltips-horz 300ms ease-out forwards;
}
