.container {
    position: relative;
    width: 3.5rem;
    height: 2.5rem;
    border-radius: .1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #eee;
    font-size: .12rem;
    font-family: lemon;
}

.goTop {
    .logo {
        position: fixed;
        left: .2rem;
        top: .2rem;
        height: auto;
        line-height: 1;
        transform: unset;
        color: #fff;

        h1 {
            margin: 0;
            background: linear-gradient(135deg, #833ab4, #3274D5 60%, #833ab4);
            -webkit-background-clip: text;
            color: transparent;
            &:hover {
                animation: colorfulFont 2s infinite ease;
                -webkit-animation: colorfulFont 2s infinite ease;
            }
        }
    }
}
@keyframes colorfulFont {
    0% {
        color: #833ab4;
    }
    50% {
        color: #fff;
    }
    to {
        color: #3274D5;
    }
}
@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes goTop {

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes fade {
    100% {
        color: #fff;
    }
}

.logo {
    position: absolute;
    top: 0;
    width: 1rem;
    height: 1rem;
    transform: translateY(-50%);
    text-align: center;
    border-radius: 100%;
    font-size: .18rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: lemon;
    transition: all .5s ease;
    cursor: pointer;
}

.main {
    position: relative;
}

.slogan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: .2rem;
    font-size: .14rem;
}

.btn {
    width: 1.5rem;
    height: .3rem;
    background: #4b6dc9;
    text-align: center;
    color: #fff;
    border-radius: .02rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: .1rem auto 0 auto;
    transition: all .2s ease-in;
    cursor: pointer;

    &:hover {
        transform: scale(.9);
    }
}

.mask {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    opacity: .8;
    background: #000;
    z-index: 0;
}

.login {
    position: relative;
    top: .2rem;
    width: 3.5rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s;
    -webkit-animation: fadeIn .2s ease-in-out;
    border-radius: .05rem;
    z-index: 1;
    font-size: .1rem;

    input {
        border-radius: .02rem; 
    }
}

.register {
    position: relative;
    top: .2rem;
    width: 3.5rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // background: rgba(0, 0, 0, .7);
    animation: fadeIn 1s;
    -webkit-animation: fadeIn .2s ease-in-out;
    border-radius: .05rem;
    z-index: 1;
    font-size: .1rem;

    input:last-of-type {
        border: none;
    }
}

.info {
    position: relative;
    text-align: center;
    color: #fff;
    margin-bottom: .1rem;
    transition: all .5s ease-in;
}

.inputBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    height: .3rem;
    width: 1.5rem;
    background: #181a1b;
    border-bottom: 1px solid #e6e6e6;
    outline-style: none;
    color: #fff;
    padding: .1rem;
    font-family: auto;
}

.infoInput {
    text-align: center;
    background: rgba(0, 0, 0, .5);
    border-bottom: 0;
    margin-bottom: .1rem;
    border-radius: .1rem;
}

.infoInput::-webkit-input-placeholder {
    color: #fff;
}
.infoInput:-moz-placeholder {
    color: #fff;
}
.infoInput:-ms-input-placeholder {
    color: #fff;
}

.passwdInput {
    animation: slideIn .2s;
    -webkit-animation: slideIn .2s;   
}

.noBackground {
    background: transparent;
}

.oauth {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1.5rem;
}

.iconBtn {
    width: .2rem;
    height: .2rem;
    margin: .1rem .1rem 0 .1rem;
    background: #eee;
    cursor: pointer;
}
@mixin iconWrapper {
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: .2rem;
    height: .2rem;
    opacity: .6;
    &:hover {
        opacity: 1;
    }
}
.choosed {
    opacity:  1 !important;
    background: #fff !important;
}
.iconGoogle {
    background: url('http://solo-app.test.upcdn.net/google.png') no-repeat;
    background-size: cover;
}
.iconGithub {
    background: url('http://solo-app.test.upcdn.net/GitHub.png') no-repeat;
    background-size: cover;
}
.iconFacebook {
    background: url('http://solo-app.test.upcdn.net/icon_facebook.png') no-repeat;
    background-size: cover;
}
.iconPhone {
    @include iconWrapper();
    &:after {
        content: '';
        width: .15rem;
        height: .15rem;
        position: absolute;
        background: url('http://solo-app.test.upcdn.net/phone.png') no-repeat;
        background-size: cover;
    }
}
.iconEmail {
    @include iconWrapper();
    &:after {
        content: '';
        width: .13rem;
        height: .13rem;
        position: absolute;
        background: url('http://solo-app.test.upcdn.net/email.png') no-repeat;
        background-size: cover;
    }
}

.errorInput {
    outline: 0.03rem solid red;
    outline-style: auto;
    outline-offset: 0;
    border-bottom: 0;
    z-index: 1;
}

.errorMsg {
    height: .25rem;
    width: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: .1rem;
    border-radius: .1rem;
    background: rgba(0, 0, 0, .6);
    animation: fadeIn 1s;
    -webkit-animation: fadeIn .2s ease-in-out;
}
