@import '~static/ani';

.container {
    position: relative !important;
    top: 50% !important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    width: 2.8rem !important;
    height: unset !important;
    margin: auto !important;
    padding: 0 .2rem !important;
    font-size: .09rem !important;
    transform: translateY(-50%);

    animation: fadeIn .5s;
    -webkit-animation: fadeIn .5s;

    box-shadow: none !important;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
}

.loginBody {
    padding-bottom: .2rem !important;
}

.transparent {
    background: transparent !important;
    box-shadow: none !important;
}

.title {
    position: relative;
    margin-bottom: .1rem;
    padding-top: .2rem;
    color: #333;
    text-align: center;
    font-size: .13rem;
    font-weight: bold;
    font-family: lemon !important;
}

.close {
    position: absolute;
    right: .05rem;
    cursor: pointer;
    opacity: .5;

    &:hover {
        opacity: 1;
    }
}

.inputBox {
    position: relative;
    width: 100%;
    margin-bottom: .1rem;
    display: flex;
    flex-direction: column;
    border-radius: .05rem;

    animation: slideIn .5s;
    -webkit-animation: slideIn .5s;
}

input {
    height: .3rem;
    width: 100%;
    padding: .1rem;
    margin: .05rem 0;
    border-radius: .05rem;
    border: 1px solid #ddd;
    // background: #ddd;
    // font-weight: bold;
    color: #333;

    &:focus,
    &:hover {
        border: 1px solid #000;
    }
}

.infoInput::-webkit-input-placeholder {
    color: #333;
}

.infoInput:-moz-placeholder {
    color: #333;
}

.infoInput:-ms-input-placeholder {
    color: #333;
}

.btn {
    width: 100% !important;
    height: .3rem !important;
    background: rgba(79, 160, 226, .3) !important;
    color: #0287f3 !important;
    font-weight: bold !important;
    &:hover {
        color: #fff !important;
        background: #2e89d4 !important;
    }
}

.oauthTip {
    padding-top: .1rem;
    text-align: center;
    color: #666;
}

.oauth {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: .1rem;
    padding: .025rem;
    border-radius: .1rem;
    background: #eee;
}

.iconBtnWrapper {
    width: .25rem;
    height: .25rem;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background: rgba(255, 255, 255, .5);
    }
}

.iconBtn {
    width: 80%;
    height: 80%;
}

@mixin iconWrapper {
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    width: .4rem;
    height: .4rem;
    opacity: .6;
    margin-top: 0rem;

    &:hover {
        opacity: 1;
    }
}

.choosed {
    opacity: 1 !important;
    background: #fff !important;
}

.iconGoogle {
    background: url('http://solo-app.test.upcdn.net/google.png') no-repeat;
    background-size: cover;
}

.iconGithub {
    background: url('http://solo-app.test.upcdn.net/GitHub.png') no-repeat;
    background-size: cover;
}

.iconFacebook {
    background: url('http://solo-app.test.upcdn.net/icon_facebook.png') no-repeat;
    background-size: cover;
}

.iconPhone {
    background: url('http://solo-app.test.upcdn.net/phone.png') no-repeat;
    background-size: cover;
}

.iconEmail {
    background: url('http://solo-app.test.upcdn.net/email.png') no-repeat;
    background-size: cover;
    transform: scale(.9);
}

.errorInput {
    input {
        background: #f5dbdc;
        border: 1px solid #cc3e4a;
    }
}

.errorMsg {
    position: relative;
    top: -.05rem;
    padding-left: .05rem;
    color: #cc3e4a;
}

.loginBtn {
    padding: .1rem 0 !important;
    color: #666 !important;

    &:hover,
    &:active {
        color: #000 !important;
    }
}

.sendCodeBtn {
    max-width: .7rem !important;
    min-width: .7rem !important;
    margin: auto 0 auto .1rem !important;
}
