@import '~static/color';

.container {
    position: relative;
    width: 100%;
    margin-bottom: .1rem;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.left {
    position: sticky;
    top: .5rem;
    margin-right: .1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
}

.avatar {
    width: .3rem;
    height: .3rem;
    border-radius: .1rem;
    border: 2px solid rgba(0, 0, 0, .2);
    background-size: cover;
    cursor: pointer;
}

.nickname {
    font-size: .08rem;
    font-weight: 600;
    color: #333;
}

.imageWrapper {
    max-width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
}

.image {
    max-width: 100%;
    width: 33.3%;
    flex: 1 0 auto;
    transition: all .3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.01);
    }
}

.body {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: .05rem;
    font-size: .1rem;
    background: #fff;

    &:before {
        content: '';
        position: absolute;
        width: .2rem;
        height: .2rem;
        background: #fff;
        left: -.02rem;
        top: .05rem;
        z-index: -1;
        transform: rotate(45deg);
    }
}

.content {
    width: 100%;
    flex: 1 0 auto;
    padding: .05rem;
    text-align: start;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-all;
    white-space: break-spaces;
}

.bottom {
    width: 100%;
    height: auto;
    display: flex;
    padding: .05rem;
}

.tags {
    width: 100%;
    margin-top: auto;
    text-align: start;
    font-size: .08rem;

    span {
        color: #666;
        background: #eee;
        border-radius: 10%;
        padding: 0 .02rem;
        margin-right: .02rem;
        cursor: pointer;

        &:before {
            content: '#';
            display: inline-block;
            position: relative;
            font-weight: 700;
        }
    }
}

.btns {
    display: flex;
    width: 100%;
    margin-top: auto;
    margin-left: auto;
    justify-content: flex-end;
    align-items: center;
    color: #666;
}

.icon {
    width: .2rem;
    height: .2rem;
    margin-left: .1rem;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    font-size: .12rem;

    &:hover {
        background-color: rgba(0, 0, 0, .1);
    }
}
