@import '~static/color';
@import '~static/constants';
@import '~static/ani';

.container {
    position: relative;
    // width: 1rem;
    // height: $NAV_HEIGHT_MAIN;
    display: flex;
    align-items: center;
    border-bottom: 2px solid #eee;
    margin-bottom: .1rem;
    font-size: .09rem;
    z-index: 9;
    text-align: left;
    font-weight: bold;
}

.item {
    position: relative;
    // height: .5rem;
    width: .8rem;
    line-height: 1;
    padding: .1rem .05rem;
    border-radius: .05rem;
    cursor: pointer;
    opacity: .7;
    font-size: .11rem;
    text-align: center;

    &:hover {
        opacity: 1;
    }
}

.active {
    color: var(--theme-main);

    &::after {
        content: '';
        position: absolute;
        width: .8rem;
        height: 2px;
        background: var(--theme-main);
        bottom: 0;
        left: 0;
    }
}