@import '~static/constants';

.container {
    position: relative;
    width: 100%;
}

.fullscreen {
    position: relative;
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.narrow {
    position: relative;
    width: 60%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
