@import '~static/constants';
@import '~static/ani';
@import './constants/constants.scss';

html body {
    overflow: auto;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
}

.main {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: $NAV_HEIGHT_MAIN;
}
