@import '~static/color';
@import '~static/constants';
@import '~static/ani';

.container {
    position: relative;
    width: 30%;
    height: 100%;
    padding: .1rem;
}

.card {
    width: 100%;
    height: auto;
    min-height: 1rem;
    margin-bottom: .1rem;
}

.title {
    font-size: .1rem;
    text-align: left;
    color: #666;
}
