@import '~static/color';
@import '~static/constants';
@import '~static/ani';

$introFontColor: #666;

.container {
    position: absolute;
    width: 25%;
    height: 100%;
    padding: .1rem .1rem .1rem 0;
}

.indicator {
    position: absolute;
    top: .2rem;
    width: .5rem;
    padding: .05rem 0;
    border-radius: 0 .1rem .1rem 0;
    color: #fff;
    background: var(--theme-editor);
    font-size: .08rem;
    cursor: pointer;
}

.main {
    padding-top: .1rem;
    transform: translateX(-150%);
    transition: all .5s ease;
}

.show {
    transform: unset;
}

.close {
    position: absolute;
    right: .2rem;
    width: .2rem;
    margin-left: auto;
    padding-right: .2rem;
    cursor: pointer;
    z-index: 1;
}

.card {
    width: 100%;
    height: auto;
    padding-top: 0 !important;
    margin-bottom: .1rem;
    border-radius: 0 !important;
    box-shadow: none !important;
}

.title {
    display: flex;
    align-items: center;
    font-size: .11rem;
    font-weight: bold;
    text-align: left;
    color: var(--theme-editor);
    padding-top: .05rem;
    padding-bottom: .1rem;

    &:before {
        content: '';
        position: relative;
        display: inline-block;
        width: .02rem;
        height: .1rem;
        margin-right: .03rem;
        background: var(--theme-editor);
    }
}

.introInput {
    font-size: .1rem;
    text-indent: .05rem;
    margin-bottom: .1rem;
    padding-bottom: .02rem;
    border-bottom: 1px solid #666;
    color: $introFontColor;

    &::-webkit-input-placeholder {
        color: $introFontColor;
        font-weight: bold;
    }

    &:-moz-placeholder {
        color: $introFontColor;
    }

    &:-ms-input-placeholder {
        color: $introFontColor;
    }

}

.tagContainer {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    padding-bottom: .1rem;
}

.tagInput {
    width: .6rem;
    border: 2px dashed #ccc;
    padding: .05rem;
    border-radius: .05rem;
    font-size: .09rem;
    height: .2rem;
    line-height: .2rem;

    &:focus {
        outline-style: auto;
    }
}

.tag {
    font-size: .09rem;
    height: .2rem;
    line-height: .2rem;
    background: #eee;
    padding: 0 .04rem;
    margin-right: .05rem;
    margin-bottom: .05rem;
    border-radius: .02rem;
    cursor: pointer;

    &:hover {
        opacity: .5;
    }
}
