@import '~static/color';
@import '~static/constants';

body {
    overflow: hidden !important;
    font-family: 'Quicksand', arial, sans-serif !important;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    overflow: auto;
    background: #f6f9fa;
}

.main {
    position: relative;
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-left: 25%;
}

.row {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #eee;
}

.tab {
    top: 0;
    // position: sticky;
    // z-index: 6;
    background: #fff;
}
