@import '~static/color';
@import '~static/constants';
@import '~static/ani';

:global(.iconfont) {
    margin-right: .1rem;
}

.container {
    position: relative;
    width: 1.5rem;
    padding: .2rem .1rem 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    font-size: .09rem;
    z-index: 9;
    text-align: left;
    box-shadow: 5px 0 8px rgba(27, 27, 27, 0.05);
}

.item {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    padding: .05rem 0 .05rem .1rem;
    border-radius: .03rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        color: #fff;
        opacity: .8;
        background: var(--theme-primary);
    }
}

.active {
    &:before {
        content: '';
        position: absolute;
        left: 0;
        height: 50%;
        width: 4px;
        background: var(--theme-primary);
    }
}

.prime {
    width: 1rem;
    padding: .05rem 0;
    margin-top: .1rem;
    background: var(--theme-primary);
    border-radius: .1rem;
    text-align: center;
    color: #fff;
    cursor: pointer;
}
