@import '~static/color';
@import '~static/constants';
@import '~static/ani';

.container {
    position: relative;
    width: 100%;
    height: auto;
    * {
        font-size: .08rem !important;
    }
}

:global(.filepond--root) :global(.filepond--drop-label) {
    height: 1rem;
}
