@import '~static/color';
@import '~static/constants';
@import '~static/ani';

$NAVI_BG_COLOR: #fff;

@mixin NAVI_BASE {
    height: $NAV_HEIGHT_MAIN;
    line-height: $NAV_HEIGHT_MAIN;
    background: $NAVI_BG_COLOR;
    border-radius: .1rem;
    border-bottom: 1px solid rgba(255, 255, 255, .3);

    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
}

.container {
    position: fixed;
    width: 100%;
    height: $NAV_HEIGHT_MAIN;
    padding: .05rem .1rem 0;
    margin-bottom: .02rem;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
    z-index: 99;
}

.logo {
    position: relative;
    padding: 0 .1rem;
    background-image: linear-gradient(135deg, #5a8afb 0%, #f86363 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: .26rem;
    font-weight: bolder;
    font-family: lemon;

    // @include NAVI_BASE();
    .small {
        font-size: .18rem;
    }

    &:hover {
        animation: colorfulFont 1.5s infinite ease;
        -webkit-animation: colorfulFont 1.5s infinite ease;
    }
}

.user {
    position: absolute;
    right: .1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.mainNav {
    position: absolute;
    height: $NAV_HEIGHT_MAIN;
    width: 50%;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    // flex: 1 0 auto;
    margin: 0 auto;
    color: #000;
    @include NAVI_BASE();

    input {
        font-size: .11rem !important;
    }
}

.icon {
    height: 100%;
    width: .3rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 .2rem;
}
