@import '~static/color';

.container {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--navy);
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    overflow: auto;
    padding: 0 .2rem;
}
