@import '~static/color';
@import '~static/constants';
@import '~static/ani';

.container {
    position: fixed;
    width: 100%;
    height: $NAV_HEIGHT;
    background: var(--navy);
    z-index: 99;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logo {
    color: #fff;
    font-family: lemon;
    cursor: pointer;
    &:hover {
        animation: colorfulFont 1.5s infinite ease;
        -webkit-animation: colorfulFont 1.5s infinite ease;
    }
}