@import '../../constants/constants.scss';
@import '~static/constants';

.container {
    position: fixed;
    top: $NAV_HEIGHT_MAIN;
    left: 0;
    height: 100%;
    width: $LEFT_ZONE_WIDTH;
    max-width: $LEFT_ZONE_WIDTH;
    border-right: 1px solid #eee;
    padding: 0 .05rem;
    overflow: auto;
}
