@import '~static/color';

.container {
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    width: 25%;
    padding-top: 0.5rem;
    padding-left: .2rem;
    z-index: 1;
    color: #fff;
}

.body {
    position: relative;
    width: 100%;
    height: 4.5rem;
    // background: #fff;
    margin-bottom: .1rem;
    border-radius: .01rem;
    padding: .05rem;
}

.title {
    position: relative;
    height: .2rem;
    display: flex;
    align-items: center;
    font-size: .1rem;
    font-weight: 100;
    margin-bottom: .05rem;
    &:before {
        content: '';
        display: inline-block;
        width: .01rem;
        height: .1rem;
        background: #151515;
        margin-right: .03rem;
    }

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        width: 100%;
        height: .01rem;
        display: inline-block;
        margin-top: .02rem;
        background: #fff;
        opacity: .2;
    }
}