@import '~static/color';

.container {
    position: fixed;
    left: 10%;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-size: .12rem;

    color: #151516;

    .item {
        display: flex;
        align-items: center;
        width: 100%;
        text-align: left;
        padding: .05rem .1rem;
        border-radius: .05rem;
        margin-bottom: .1rem;
        cursor: pointer;

        &:hover {
            color: var(--theme-primary);
            background: rgba(0, 0, 0, .05);
        }
    }

    :global(.iconfont) {
        margin-right: .05rem;
        font-size: .16rem !important;
    }
}

.logo {
    position: relative;
    padding: 0 .1rem;
    margin-bottom: .2rem;
    background-image: linear-gradient(135deg, #5a8afb 0%, #f86363 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: .26rem;
    font-weight: bolder;

    // @include NAVI_BASE();
    .small {
        font-size: .18rem;
    }

    &:hover {
        animation: colorfulFont 1.5s infinite ease;
        -webkit-animation: colorfulFont 1.5s infinite ease;
    }
}
