@import '~static/color';

.container {
    position: fixed;
    left: 10%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    font-size: .1rem;
    span {
        padding: .05rem .1rem;
        background: #fff;
        border-radius: .05rem;
        margin-bottom: .1rem;
        cursor: pointer;

        &:hover {
            background: #eee;
        }
    }
}
