@import '~static/constants';

.container {
    position: relative;
    width: 100%;
    padding: .05rem .1rem;
    background: #fff;
}

.wrap {
    width: 100%;
    height: 100%;
}

.title {
    text-align: left;
    font-size: .1rem;
    font-weight: 700;

    a {
        color: var(--theme-main);

        &:hover {
            color: var(--theme-main);
            cursor: pointer;
        }
    }

    a:visited {
        // color: #888;
        opacity: .8;
    }
}

.content {
    font-size: .08rem;
    margin-top: .05rem;
    padding-left: .05rem;
    text-align: start;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 2;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.bottom {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: 0 0 .1rem;
    color: #666;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    div {
        padding-right: .1rem;
    }
}

.icon {
    padding-right: .05rem;
}

.btns {
    position: relative;
    right: 0;
    width: max-content;
    display: flex;
    align-items: center;
    margin-left: auto;
    background: #eee;
    border-radius: 1rem;
}

.star,
.comment {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: .03rem .05rem;
    font-weight: bold;
    background: #eee;
    white-space: nowrap;
    cursor: pointer;

    span {
        margin-right: .02rem;
    }

    &:hover {
        color: #eee;
        background: #666;
    }
}

.comment {
    border-radius: 1rem 0 0 1rem;

    &::after {
        content: '';
        position: absolute;
        width: 1px;
        height: .1rem;
        right: 0;
        background: #333;
    }
}

.star {
    border-radius: 0 1rem 1rem 0;
}

.ts {
    padding-left: .05rem;
}

.slider {
    width: 100%;
    height: 100%;
    border-radius: .05rem;
    margin-bottom: .1rem;
    overflow: hidden;
    cursor: pointer;
}
