
.block {
    position: relative;
    width: 100%;
    margin-bottom: .3rem;
    text-align: center;
}

.sectionCard {
    display: flex;
    flex-direction: column;
}

.topLine {
    display: flex;
    margin: .1rem 0 .2rem;
    align-items: flex-end;
}

.blockTitle {
    font-size: .2rem;
    font-weight: bolder;
}

.sliderCard {
    padding: 0 !important;
}

.creators,
.slider {
    display: flex;
}

.slider {
    height: 2rem;
    border-radius: .05rem;
    margin-bottom: .1rem;
    overflow: hidden;
}

.creators {
    position: relative;
}

.more {
    position: relative;
    right: 0;
    margin-left: auto;
    font-size: .14rem;
    cursor: pointer;
}

.slideCard {
    height: 100%;
    background: #ddd;

    &:not(:last-child) {
        margin-right: .05rem;
    }
}

.profileCard {
    height: 100%;

    &:not(:last-child) {
        margin-right: .05rem;
    }

    .img {
        width: 100%;
        height: 1rem;
        background: #ddd;
        border-radius: .05rem;
        margin-bottom: .1rem;
    }

    .info {
        display: flex;
        flex-direction: column;
        text-align: left;

        p {
            padding-bottom: .1rem;
        }
    }

    .name {
        font-size: .14rem;
        color: #000;
        font-weight: bold;
    }

    .intro {
        color: #333;
    }

    .extra {
        color: var(--theme-primary);
    }
}
