
.block {
    position: relative;
    width: 100%;
    margin-bottom: .3rem;
    text-align: center;
}

.sectionCard {
    display: flex;
    flex-direction: column;
}

.topLine {
    display: flex;
    margin: .1rem 0 .2rem;
    align-items: flex-end;
}

.blockTitle {
    font-size: .2rem;
    font-weight: bolder;
}

.sliderCard {
    padding: 0 !important;
}

.creators,
.slider {
    display: flex;
}

.slider {
    height: 2rem;
    border-radius: .05rem;
    margin-bottom: .1rem;
    overflow: hidden;
}

.creators {
    position: relative;
}

.more {
    position: relative;
    right: 0;
    margin-left: auto;
    font-size: .14rem;
    cursor: pointer;
}

