@import '~static/color';
@import '~static/constants';
@import '~static/ani';

.container {
    position: sticky;
    display: flex;
    align-items: center;
    z-index: 9;
    text-align: left;
}

.item {
    position: relative;
    width: .8rem;
    line-height: 1;
    padding: .05rem;
    border-radius: .05rem;
    cursor: pointer;
    opacity: .7;
    font-size: .1rem;
    font-weight: bold;
    text-align: center;

    &:hover {
        opacity: 1;
    }
}

.active {
    color: var(--theme-primary);
    opacity: 1;

    &::after {
        content: '';
        position: absolute;
        width: .5rem;
        height: 3px;
        border-radius: 1rem;
        background: var(--theme-primary);
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
    }
}
