@import '~static/constants';

.container {
    position: relative;
    width: 33%;
    height: 2rem;
    padding: .05rem;
    margin: 0 0 .1rem 0;
    box-shadow: 1px 1px 10px rgba(27, 95, 160, .1);
    border-radius: .05rem;
    background: #ddd;
}

.topLine {
    width: 49%;
    height: 2.5rem;
    box-shadow: 1px 1px 3px rgba(27, 95, 160, .1);
    &:first-child {
        margin-right: 1%;
    }
}

.secondLine {
    width: 33%;
    height: 2rem;
    box-shadow: 1px 1px 3px rgba(27, 95, 160, .1);
}

.info {
    background: #eee;
}

.avatar {
    position: relative;
    margin-left: -50%;
}
