@import '~static/constants';

.container {
    position: relative;
    width: 100%;
    height: 2rem;
    padding: .05rem;
    margin-bottom: 2%;
    margin-right: 2%;
    box-shadow: 1px 1px 10px rgba(27, 95, 160, .1);
    border-radius: .05rem;
    background: #dedede;
}

.fullLine {
    width: 100%;
    height: 2.5rem;
    box-shadow: 1px 1px 3px rgba(27, 95, 160, .1);
}

.secondLine {
    width: 30%;
    height: 2rem;
    box-shadow: 1px 1px 3px rgba(27, 95, 160, .1);
}

.info {
    background: #eee;
}

.avatar {
    position: relative;
    margin-left: -50%;
}
