.container {
    position: relative;
    width: 100%;
    display: flex;
    border-radius: .05rem;
    background: #fff;
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, .12);
}

.avatar {
    padding: .1rem 0 0 .1rem;
}

.main {
    display: flex;
    flex-direction: column;
    padding: .1rem 0 0 .1rem;
}

.ownerName {
    width: max-content;
    font-size: .1rem;
    font-weight: bold;
    cursor: pointer;

    &:hover {
        text-decoration: underline;
        color: #0366d6;
    }
}

.status {
    padding-left: .1rem;
    color: #666;
}

.bio {
    flex: 1 0 auto;
    margin-top: .05rem;
    font-size: .09rem;
    color: #3f3f3f;
    user-select: text;
}

.bottom {
    position: relative;
    display: flex;
    align-items: flex-end;
    padding: .1rem 0 .05rem;
    color: #666;
}

.repoOwner {
    position: relative;
    right: 0;
    margin-left: auto;
    display: flex;
    width: max-content;
    align-items: center;
    padding: .02rem;
    background: #eee;
    border-radius: 1rem;
    cursor: pointer;
}

.info {
    display: flex;

    div {
        padding-right: .1rem;
    }
}

.icon {
    padding-right: .05rem;
}

.starBtn {
    position: absolute;
    top: .1rem;
    right: .1rem;
    width: max-content;
    padding: .02rem .05rem;
    font-weight: bold;
    background: #eee;
    border-radius: 1rem;
    cursor: pointer;

    &:hover {
        color: #eee;
        background: #666;
    }
}

.staredBtn {
    color: #eee;
    background: #666;
}
