@import '~static/color';
@import '~static/constants';
@import '~static/ani';

.container {
    position: fixed;
    width: 100%;
    height: $NAV_HEIGHT;
    margin-bottom: .02rem;
    background: var(--navy);
    z-index: 99;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
}

.logo {
    position: absolute;
    left: 0;
    font-size: .1rem;
    margin: 0 .2rem;
    color: #fff;
    font-family: lemon;
    cursor: pointer;
    &:hover {
        animation: colorfulFont 1.5s infinite ease;
        -webkit-animation: colorfulFont 1.5s infinite ease;
    }
}

.mainNav {
    // left: 25%;
    position: relative;
    height: $NAV_HEIGHT_MAIN;
    width: 100%;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .1rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, .3);

    span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: .8rem;
        padding: 0 .2rem;
        cursor: pointer;
        &:hover {
            background: rgba(255, 255, 255, .1)
        }
    }
}

.subNav {
    position: relative;
    width: 100%;
    height: $NAV_HEIGHT_SUB;
    display: flex;
    align-items: center;
    color: #fff;
    font-size: .08rem;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: .8rem;
        padding: .05rem .2rem;
        cursor: pointer;
        opacity: .8;
        &:hover {
            opacity: 1;
        }
    }
}
