@import '~static/color';
@import '~static/constants';
@import '~static/ani';
@import '~static/mixin';

$fontFamily: 'Spectral',
serif !important;
$gradientColor: linear-gradient(135deg, rgb(123, 67, 151), rgb(220, 36, 48));

.container {
    position: fixed;
    // top: .1rem;
    top: 0;
    width: 100%;
    height: $NAV_HEIGHT_MAIN;
    margin-bottom: .02rem;
    display: flex;
    align-items: center;
    z-index: 3;
    font-weight: bolder;
    font-family: $fontFamily;
    border-radius: .1rem;
    transition: all .5s ease;
    background-color: #fff;

    @include naviShadow();
}

.collapsed {
    overflow: hidden;
    width: 1rem;

    .funcNav,
    .mainNav {
        display: none;
    }
}

.logo {
    position: relative;
    left: 0;
    width: .5rem;
    margin: .2rem;
    font-size: .2rem;
    font-weight: bolder;
    font-family: lemon;
    color: var(--theme-primary);
    cursor: pointer;
    z-index: 1;
}

.mainNav {
    position: relative;
    left: 0;
    right: 0;
    margin-right: auto;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    color: #000;
    font-size: .1rem;
    transition: all .5s ease;
    overflow: hidden;

    span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: 0 .1rem;
        cursor: pointer;

        &:hover {
            color: var(--theme-primary);
        }
    }
}

.funcNav {
    position: relative;
    display: flex;
    align-items: center;

    color: #666;
    font-size: .1rem;
    padding-right: .2rem;
    transition: all .5s ease;
    overflow: hidden;

    span {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        height: 100%;
        padding: .03rem .1rem;
        cursor: pointer;

        &:hover {
            color: #000;
        }
    }
}

.special {
    width: .5rem;
    border-radius: .2rem;
    background: var(--theme-primary);
    color: #fff;
    opacity: .8;

    &:hover {
        opacity: 1;
        color: #fff !important;
    }
}
