// $default_bg_color: #4b6dc9;
$default_bg_color: var(--theme-primary);
$default_font_color: #fff;

.container {
    position: relative;
    width: auto;
    height: .3rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: $default_font_color;
    cursor: pointer;
    transition: all .2s ease-in;
    border-radius: .05rem;
    overflow: hidden;
    font-size: inherit;
    background: $default_bg_color;

    &:active {
        opacity: .8;
    }
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    z-index: 1;
}

.loading {
    .container {
        color: transparent;
        cursor: not-allowed;
        pointer-events: auto;
    }
}

.hollow {
    color: $default_bg_color;
    font-weight: bold;
    border: 1px solid $default_bg_color;
    background: transparent;

    &:hover,
    &:active {
        outline: unset;
        background: $default_bg_color;
        color: #fff;
    }
}

.plain {
    transition: unset;
    color: #000;
    background: transparent;
}

.disabled {
    background: #efefef !important;
    color: #a6a6a6 !important;
    cursor: not-allowed !important;

    &:active {
        background: #efefef !important;
        color: #a6a6a6 !important;
        cursor: not-allowed !important;
        opacity: 1;
    }
}
