@keyframes colorfulFont {
    0% {
        color: #833ab4;
    }

    50% {
        color: #fff;
    }

    to {
        color: #3274D5;
    }
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(50%);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeIn {
    0% {
        transform: translateY(20%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes goTop {

    100% {
        left: 0;
        opacity: 1;
    }
}

@keyframes fade {
    100% {
        color: #fff;
    }
}

@keyframes hueRotate {
    0% {
        filter: hue-rotate(0);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}