* {
    --rgb-white-on-dark: 255, 255, 255;
    --rgb-black: 0, 0, 0;
    
    --navy: #001935;
    --red: #ff492f;
    --orange: #ff8a00;
    --yellow: #e8d738;
    --green: #00cf35;
    --blue: #00b8ff;
    --purple: #7c5cff;
    --pink: #ff62ce;
    
    --accent: #00b8ff;
    --secondary-accent: #e5e7ea;
    --follow: #f3f8fb;
}