@mixin tooltip {

    /* START TOOLTIP STYLES */
    [tooltip] {
        position: relative;
        /* opinion 1 */
    }

    /* Applies to all tooltips */
    [tooltip]::before,
    [tooltip]::after {
        text-transform: none;
        /* opinion 2 */
        font-size: .9em;
        /* opinion 3 */
        line-height: 1;
        user-select: none;
        pointer-events: none;
        position: absolute;
        display: none;
        opacity: 0;
    }

    [tooltip]::before {
        content: '';
        border: 5px solid transparent;
        /* opinion 4 */
        z-index: 1001;
        /* absurdity 1 */
    }

    [tooltip]::after {
        content: attr(tooltip);
        /* magic! */

        /* most of the rest of this is opinion */
        font-family: Helvetica, sans-serif;
        text-align: center;

        /*
      Let the content set the size of the tooltips
      but this will also keep them from being obnoxious
      */
        min-width: 3em;
        max-width: 21em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 1ch 1.5ch;
        border-radius: .6ch;
        box-shadow: 0 1em 2em -.5em rgba(0, 0, 0, 0.35);
        background: #333;
        color: #fff;
        letter-spacing: .01rem;
        z-index: 1000;
        /* absurdity 2 */
    }

    /* Make the tooltips respond to hover */
    [tooltip]:hover::before,
    [tooltip]:hover::after {
        display: block;
    }

    /* don't show empty tooltips */
    [tooltip='']::before,
    [tooltip='']::after {
        display: none !important;
    }

    /* FLOW: DOWN */
    [tooltip][flow^="down"]::before {
        top: 100%;
        border-top-width: 0;
        border-bottom-color: #333;
    }

    [tooltip][flow^="down"]::after {
        top: calc(100% + 10px);
    }

    [tooltip][flow^="down"]::before,
    [tooltip][flow^="down"]::after {
        left: 50%;
        transform: translate(-50%, .5em);
    }

    /* KEYFRAMES */
    @keyframes tooltips-vert {
        to {
            opacity: .9;
            transform: translate(-50%, 0);
        }
    }

    @keyframes tooltips-horz {
        to {
            opacity: .9;
            transform: translate(0, -50%);
        }
    }

    /* FX All The Things */
    [tooltip]:not([flow]):hover::before,
    [tooltip]:not([flow]):hover::after,
    [tooltip][flow^="up"]:hover::before,
    [tooltip][flow^="up"]:hover::after,
    [tooltip][flow^="down"]:hover::before,
    [tooltip][flow^="down"]:hover::after {
        animation: tooltips-vert 300ms ease-out forwards;
    }
}

@mixin naviShadow {
    box-shadow: 0 5px 8px #00098000, 0 5px 16px rgba(0, 9, 128, .05);
    -webkit-transition: box-shadow .35s ease-out, background-color .35s ease-out;
    transition: box-shadow .35s ease-out, background-color .35s ease-out;
}

@mixin placeholderStyle ($fontColor, $fontSize: inherit) {
    &::-webkit-input-placeholder {
        font-size: $fontSize;
        color: $fontColor !important;
    }

    &:-moz-placeholder {
        font-size: $fontSize;
        color: $fontColor !important;
    }

    &:-ms-input-placeholder {
        font-size: $fontSize;
        color: $fontColor !important;
    }
}

@mixin shadowCard($padding: .1rem, $radius: .05rem, $shadow: (1px 0 4px rgba(0, 2, 4, .055), 0 7px 18px rgba(1, 1, 1, .05))) {
    padding: $padding;
    border-radius: $radius;
    box-shadow: $shadow;
}

@mixin divider($position: right, $height: 100%, $width: 2px, $color: #ddd) {
    &:after {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        height: $height;
        width: $width;
        background: $color;
        #{$position}: 0;
        border-radius: 1rem;
        margin: auto;
    }
}

@mixin displayFlex($justify: flex-start, $align: flex-start, $direction: row) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}
