$desktop-base: 10; // 10rem = 100vw
$baseRatio: 4; // 4rem = 100vw

html {
    -webkit-text-size-adjust: none;

    @media only screen and (min-width: 640px) {
        font-size: 640px/$baseRatio;
    }

    @media only screen and (max-width: 480px) {
        font-size: 480px/$baseRatio;
    }

    @media only screen and (max-width: 414px) {
        font-size: 414px/$baseRatio;
    }

    @media only screen and (max-width: 412px) {
        font-size: 412px/$baseRatio;
    }

    @media only screen and (max-width: 400px) {
        font-size: 400px/$baseRatio;
    }

    @media only screen and (max-width: 393px) {
        font-size: 393px/$baseRatio;
    }

    @media only screen and (max-width: 375px) {
        font-size: 100px;
    }

    @media only screen and (max-width: 360px) {
        font-size: 360px/$baseRatio;
    }

    @media only screen and (max-width: 345px) {
        font-size: 345px/$baseRatio;
    }

    @media only screen and (max-width: 320px) {
        font-size: 320px/$baseRatio;
    }

    @media only screen and (max-width: 768px) {
        font-size: calc(100vw / 10);
    }
}
